<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/jpeg" href="/static/globalVoice/spa/assets/logo-02c8cb31.jpeg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GlobalVoice</title>
  <script type="module" crossorigin src="/static/globalVoice/spa/assets/index-781afe06.js"></script>
  <link rel="stylesheet" href="/static/globalVoice/spa/assets/index-ed53a0a0.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>